@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

html.sr .load-hidden {
    visibility: hidden;
}

html {
    overflow: hidden;
    font-family: "Nunito", sans-serif;
}

body {
    background-image: linear-gradient(
            to right bottom,
            rgba(226, 238, 215, 0.8),
            rgba(226, 238, 215, 0.8)
        ),
        url(../imgs/tas.jpg);
    position: relative;
    background-size: auto;
    background-position: center;
}

header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3rem;
}

h1 {
    @apply text-center text-3xl font-bold;
}

.socmed {
    @apply text-xl underline;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;

    a {
        display: flex;
        padding: 1rem;
        border-radius: 1rem;
        color: black;
        transition: all 0.3s ease;
        box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
        text-decoration: none;
        opacity: 0.8;

        svg {
            margin-right: 0.3rem;
        }

        &:hover {
            transform: scale(1.08);
            opacity: 1;
            box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.2);
        }

        &:visited {
            color: black;
        }
    }
}

#insta {
    background-color: pink;
    margin-bottom: -1rem;
}

#wa {
    background-color: aquamarine;
    margin-bottom: -3.5rem;
}

.location {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    @apply text-2xl;
    font-weight: bold;
    margin-bottom: -1.5rem;
}
